@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

body {
    background-color: #f7f7f2;
    margin: 0;
}

body,
button,
textarea {
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
}

[data-autoexpand] {
    position: relative;
}

[data-autoexpand] textarea {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

[data-autoexpand]::after {
    content: attr(data-autoexpand) " ";
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.active-roll {
    background: #1098f7;
    color: #f7f7f2;
    font-size: 14pt;
    padding: 10px;
    text-align: center;
}

.active-roll button {
    margin-left: 10px;
}

.entities {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.entity {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    margin: 5px;
    max-width: 250px;
    min-width: 250px;
}

.entity .name {
    background: #a53860;
    border: 0;
    box-sizing: border-box;
    color: #f7f7f2;
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-size: 14pt;
    padding: 15px 10px;
    width: 100%;
}

.entity .aspect {
    border-bottom: 1px solid #ddd;
}

.entity .aspect:last-of-type {
    border-bottom: none;
}

.entity .aspect textarea {
    border: 0;
    box-sizing: border-box;
    display: block;
    resize: none;
}

.entity .aspect [data-autoexpand],
.entity .aspect textarea {
    padding: 10px;
}

[data-draggable] {
    position: relative;
}

.dragging .entity {
    margin: 0;
}

.drag-removed {
    visibility: hidden;
}
