@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

html,
body,
.app {
    height: 100%;
}

body {
    background-color: #f7f7f2;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
}

body,
button,
input,
textarea {
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
}

[data-autoexpand] {
    position: relative;
}

[data-autoexpand] textarea {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

[data-autoexpand]::after {
    content: attr(data-autoexpand) " ";
    display: block;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.active-roll {
    background: #1098f7;
    color: #f7f7f2;
    font-size: 14pt;
    padding: 10px;
    text-align: center;
}

.active-roll button {
    margin-left: 10px;
}

.main {
    display: flex;
    flex-grow: 1;
}

.main,
.board,
.entities {
    overflow-y: auto;
}

.board {
    flex-grow: 1;
}

.entities {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.entity {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    margin: 5px;
    max-width: 250px;
    min-width: 250px;
}

.entity .name {
    background: #a53860;
    border: 0;
    box-sizing: border-box;
    color: #f7f7f2;
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-size: 14pt;
    padding: 15px 10px;
    width: 100%;
}

.stats {
    border-bottom: #ccc 1px solid;
}

.stats input {
    border: 0;
    min-width: 0;
    padding: 5px 10px;
}

.stat-group-controls,
.stat {
    display: flex;
}

.stat-group-controls input {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

.stat input[type="number"] {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    width: 60px;
}

.aspect {
    border-bottom: 1px solid #ddd;
}

.aspect:last-of-type {
    border-bottom: none;
}

.aspect textarea {
    border: 0;
    box-sizing: border-box;
    display: block;
    resize: none;
}

.aspect [data-autoexpand],
.aspect textarea {
    padding: 10px;
}

.messages {
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    min-width: 250px;
    overflow-y: auto;
    padding: 10px;
}

.die {
    background-color: white;
    border: black 2px solid;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    width: 24px;
}

.die-good {
    border-color: lime;
}

.die-bad {
    border-color: red;
}

.roll {
    font-size: 16pt;
    padding: 0.4em;
}

.roll-line {
    padding-bottom: 2px;
}

.annotation {
    color: rgb(50, 50, 50);
    font-size: 12pt;
    padding-left: 1em;
}

[data-draggable] {
    position: relative;
}

.dragging .entity {
    margin: 0;
}

.drag-removed {
    visibility: hidden;
}
