@use "sass:color"
@use "theme"

$border-color: color.scale(theme.$bright, $lightness: -15%)
$entity-width: 275px

.board
  flex-grow: 1

.board, .entities
  overflow-y: auto

.entities
  align-items: flex-start
  display: flex
  flex-wrap: wrap
  padding: 5px

.entity
  @include theme.shadow
  background-color: theme.$bright

  &, &-add
    margin: 5px
    width: $entity-width

  &-add
    text-align: center

  &-add, &-add .icon
    color: theme.$primary

  &-header
    display: flex

    button:hover
      background-color: color.scale(theme.$primary, $lightness: 15%)

    .icon
      color: theme.$background

  &-header, &-name textarea
    background: theme.$primary
    color: theme.$background
    font:
      family: theme.$font-header
      size: 14pt

  &-name
    flex-grow: 1

    &, textarea
      padding: 7px

.stats
  border-bottom: 1px solid $border-color

.stat
  align-items: center

  &-add, &-add .icon, &-remove .icon
    color: theme.$primary
  
  &-add
    width: 100%

  &, &-group-header
    display: flex

  &-group-name, &-name
    flex-grow: 1

  &-group-name, &-group-name textarea
    font:
      family: theme.$font-header
      weight: bold

  &-group-name, &-group-name textarea, &-name, &-name textarea, &-score
    padding: 5px 7px

  &-score
    border: 0
    padding:
      left: 0
      right: 5px
    text-align: right

input.stat-score
  padding-right: 0
  width: 40px

.aspects
  display: flex
  flex-direction: column

.aspect
  $line-height: 22px
  $padding-left-right: 7px
  $padding-top: 10px

  border-bottom: 1px solid $border-color
  padding: $padding-top $padding-left-right 0

  &:hover
    .die-control
      visibility: visible

  &::after
    clear: both
    content: ""
    display: block

  &-description
    line-height: $line-height

  &-add, &-add .icon, &-remove .icon
    color: theme.$primary

  &-remove
    margin-left: -$padding-left-right

  &-dice
    float: right
    margin:
      right: -$padding-left-right

  &-dice-top
    margin-top: -$padding-top

    button
      line-height: $line-height + 2 * $padding-top
      padding:
        bottom: 0
        top: 0

.die-control
  visibility: hidden

.dragging
  .entity, > .aspect
    @include theme.shadow
    background-color: theme.$bright
    box-sizing: border-box
    margin: 0
    width: $entity-width
