@use "sass:color"
@use "theme"

.die
  border:
    color: theme.$dark
    radius: 2px
    style: solid
    width: 2px
  box-shadow: 0 0 2px color.scale(theme.$dark, $alpha: -75%)
  display: inline-block
  line-height: 24px
  text-align: center
  width: 24px

  &-good, &-bad
    font-weight: bold

  &-good
    color: #28c428

  &-bad
    color: #e72e56

  &-player
    $color: #0896f5
    border-color: $color

    .icon
      color: $color

  &-dm
    $color: #db1717
    border-color: $color

    .icon
      color: $color

.roll
  display: table
  font-size: 16pt
  margin-bottom: 10px
  width: 100%

  &-entity
    background-color: color.scale(theme.$secondary, $alpha: -90%)
    display: table-caption
    font:
      family: theme.$font-header
      size: 12pt
    margin:
      bottom: 5px
      top: 0
    padding: 7px 10px

  &-row
    display: table-row

  &-result, &-annotation
    display: table-cell
    vertical-align: middle

  &-result
    padding: 2px 5px 2px 10px
    width: 75px

  &-annotation
    font-size: 12pt
    padding: 2px 10px 2px 0
