@use "sass:color"
@use "theme"

$player: #0896f5
$dm: #db1717

.die
  border:
    color: theme.$dark
    radius: 2px
    style: solid
    width: 2px
  box-shadow: 0 0 2px color.scale(theme.$dark, $alpha: -75%)
  display: inline-block
  line-height: 24px
  text-align: center
  width: 24px

  &-good, &-bad
    font-weight: bold

  &-good
    color: #28c428

  &-bad
    color: #e72e56

  &-player
    border-color: $player

    .icon
      color: $player

  &-dm
    border-color: $dm

    .icon
      color: $dm

.roll
  border-left: 5px solid transparent
  border-spacing: 0 3px
  box-sizing: border-box
  display: table
  font-size: 16pt
  margin-bottom: 10px
  width: 100%

  &:hover:not(.roll-active)
    border-left-color: color.scale(theme.$accent, $lightness: 75%)
    cursor: pointer

  &-active
    border-left-color: theme.$accent

  &-entity
    display: table-caption
    font:
      family: theme.$font-header
      size: 12pt
    margin: 0
    padding: 7px 10px

  &-entity-player
    background-color: color.scale($player, $alpha: -90%)

  &-entity-dm
    background-color: color.scale($dm, $alpha: -90%)

  &-row
    display: table-row

  &-result, &-annotation
    display: table-cell
    vertical-align: middle

  &-result
    padding: 0 10px 0 5px
    white-space: nowrap
    width: 0

  &-annotation
    font-size: 12pt
    padding: 0 10px 0 0
