@use "sass:color"
@use "theme"

%notification
  align-items: center
  color: theme.$background
  display: flex
  font-size: 14pt
  justify-content: center
  padding: 10px

  button
    margin-left: 15px

    &:hover
      background: color.scale(theme.$bright, $alpha: -80%)

  .icon
    color: theme.$background

.active-roll
  @extend %notification
  background: theme.$accent

.connecting
  @extend %notification
  background: theme.$error

.toolbar
  align-items: center
  background-color: theme.$bright
  display: flex

.user
  margin-left: auto
  padding-right: 10px

  input
    border: 1px solid theme.$border
    margin-right: 5px
    width: 100px

  select
    margin-left: 10px
