@import "~fontsource-noto-sans"
@import "~fontsource-roboto"

$background: #f7f7f2
$primary: #a53860
$accent: #1098f7

$font-body: "Roboto", sans-serif
$font-header: "Noto Sans", sans-serif

@mixin shadow
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05)
