@import "~fontsource-roboto/index.css";
@import "~fontsource-noto-sans/index.css";

html,
body,
#app,
.app {
  height: 100%;
}

body {
  background-color: #f7f7f2;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
}

body,
button,
input,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
}

button {
  background: transparent;
  border: none;
  padding: 4px;
}

button:not([disabled]):hover {
  background: #eeeeee;
}

.icon {
  color: #444;
  vertical-align: middle;
}

[disabled] .icon {
  opacity: 0.4;
}

[data-autoexpand] {
  position: relative;
}

[data-autoexpand],
[data-autoexpand] textarea,
.preserve-whitespace {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

[data-autoexpand] textarea {
  border: 0;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  resize: none;
  top: 0;
  width: 100%;
}

[data-autoexpand]::after {
  content: attr(data-autoexpand) " ";
  display: block;
}

.connecting,
.active-roll,
.active-roll .icon {
  color: #f7f7f2;
}

.connecting,
.active-roll {
  align-items: center;
  display: flex;
  font-size: 14pt;
  justify-content: center;
  padding: 10px;
}

.connecting {
  background: #c62f4f;
}

.active-roll {
  background: #1098f7;
}

.active-roll button {
  margin: 0 0 0 15px;
}
.active-roll button:hover {
  background: #47b0f8;
}

.toolbar {
  align-items: center;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  padding: 10px;
}

.dm-toggle {
  margin-left: auto;
}

.main {
  display: flex;
  flex-grow: 1;
}

.main,
.board,
.entities {
  overflow-y: auto;
}

.board {
  flex-grow: 1;
}

.entities {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.add-entity {
  align-self: center;
  margin: 5px;
  width: 275px;
}

.entity {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  margin: 5px;
  max-width: 275px;
  min-width: 275px;
}

.entity-title,
.entity-name textarea {
  background: #a53860;
  border: 0;
  color: #f7f7f2;
  font-family: "Noto Sans", sans-serif;
  font-size: 14pt;
}

.entity-title {
  box-sizing: border-box;
  display: flex;
}

.entity-name,
.entity-name textarea {
  padding: 7px;
}

.entity-name {
  flex-grow: 1;
}

input.entity-name {
  min-width: 0;
}

.entity-title .icon {
  color: #f7f7f2;
}

.entity-title button:hover {
  background: #d63d75;
}

.stats {
  border-bottom: #ccc 1px solid;
}

.stat-group-name,
.stat-group-name textarea,
.stat-name,
.stat-name textarea,
.stat-score {
  padding: 5px 7px;
}

.stat-group-name,
.stat-name,
.stat-score {
  border: 0;
  min-width: 0;
}

.stat-group-header,
.stat {
  display: flex;
}

.stat-name,
.stat-group-name {
  flex-grow: 1;
}

.stat-group-name,
.stat-group-name textarea {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.stat {
  align-items: center;
}

.stat-score {
  max-width: 30px;
  min-width: 30px;
  padding-left: 0;
  padding-right: 5px;
  text-align: right;
}

input.stat-score {
  max-width: 40px;
  min-width: 40px;
  padding-right: 0;
}

.add-stat,
.add-stat-group {
  width: 100%;
}

.aspects {
  display: flex;
  flex-direction: column;
}

.aspect {
  border-bottom: 1px solid #ddd;
}

.aspect-main {
  display: flex;
}

.aspect-description {
  flex-grow: 1;
}

.aspect-description,
.aspect-description textarea {
  padding: 7px;
}

.messages {
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  padding: 0 10px;
  width: 280px;
}

.die {
  border-radius: 2px;
  border: #000000 2px solid;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  display: inline-block;
  line-height: 24px;
  text-align: center;
  width: 24px;
}

.die-good,
.die-bad {
  font-weight: bold;
}

.die-good {
  color: #28c428;
}

.die-bad {
  color: #e72e56;
}

.die-player {
  border-color: #1097f7b9;
}
.die-player .icon {
  color: #1097f7b9;
}

.die-dm {
  border-color: #da4d4dc5;
}
.die-dm .icon {
  color: #da4d4dc5;
}

.roll {
  font-size: 16pt;
  padding: 0.4em;
}

.roll-line {
  padding: 2px 0;
}

.annotation {
  color: rgb(50, 50, 50);
  font-size: 12pt;
  padding-left: 1em;
}

[data-draggable] {
  position: relative;
}

.dragging > .entity,
.dragging > .aspect {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  margin: 0;
  width: 275px;
}

.drag-removed {
  visibility: hidden;
}
